body{
    background-color: beige;
    font-family: Calibri, serif;
    font-size: large;
}

input{
    background-color: beige;
    width: 10%;
    height: 23px;
}

.task{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    align-items: center;
    grid-gap: 1rem;
}

.task button{
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.task input{
    width: 30px;
    height: 30px;
}

input